<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
	<div th:replace="layout :: header">
	</div>
	<div class="loadBasketDetails">
		<div class="container">
			
		</div>
	</div>
	<div th:replace="home-page :: page-connect">	</div>
	<div th:replace="layout :: footer">	</div>
	<div th:replace="layout :: footer-bottom">	</div>
<script type="text/javascript" th:replace="layout :: js_layout"></script>	
</body>
<script type="text/javascript">
loadChiTietSanPham();
	function loadChiTietSanPham(){
		var request = $.ajax({
			  url: "/api/v1/users/baskets",
			  contentType: "application/json",
			  methodType:"GET",
		}); 
		  request.done(function( result ) {
			 if(result.length ==0){
				$('.loadBasketDetails').html(`
					<p class="text-center h4">Không tồn tại sản phẩm trong giỏ hàng</p>
				`);
			 }else{
				 $('.loadBasketDetails').html(`
					<div class="container-fluid">
						 <div class="row">
							<div class="load-products col-md-7" style="border-right:1px solid Brown">
								 <table class="table">
								  <thead>
								    <tr>
								      <th scope="col">Sản phẩm</th>
								      <th scope="col">Giá </th>
								      <th scope="col">Số lượng</th>
								      <th scope="col">Tổng</th>
								    </tr>
								  </thead>
								  <tbody id="products-basket">
								 		
								  </tbody>
								</table>
						 	</div>
						 	<div class="total-number-product col-md-5">
						 		 <div class="container" id="total-basket">
						 		 	 <p class="mt-3 h6 font-weight-bold">TỔNG SỐ LƯỢNG</p>
						 		 	 <hr/>
						 		 	 <div class="total-basket">
						 		 	 
						 		 	 </div>
						 		 </div>
						 	</div>
					 	</div>
				 	</div>
				 `);
			 }
				
			 
		  });
		  request.fail(function( jqXHR, textStatus ) {
			  
		  });
		
		  loadProductsInBasket();
		function loadProductsInBasket(){
			var request = $.ajax({
				  url: "/api/v1/users/baskets",
				  contentType: "application/json",
				  methodType:"GET",
			}); 
			  request.done(function( result ) {
				  for(var i =0;i<result.length;i++){
					  $('#products-basket').append(`
						 <tr>
							<th scope="row"><img style="width:70px" class="img-fluid" src="`+result[i].imageProduct+`"> <p class="float-left  h5">`+result[i].nameProduct+`</p></th>
						    <td><p class="text-warning h6 font-weight-bold">`+formatNumber(result[i].price,'-',',')+` đ</p></td>
						  	<td><input class="col-md-2 btn-danger btn" disabled="disabled" value=`+result[i].numOfCart+`></td>
							<td><p class="text-warning h6 font-weight-bold">`+formatNumber(result[i].totalMoney,'-',',')+` đ</p></td>
							<td><i class="fas fa-trash text-warning "></i></td>
						 </tr>			 
					  `);	 
				  }
				  
				  
			  });
			  request.fail(function( jqXHR, textStatus ) {
				  
			  });
		}
		
	}
	loadTotalBasket();
	function loadTotalBasket(){
		var request = $.ajax({
			  url: "/api/v1/users/baskets/total",
			  contentType: "application/json",
			  methodType:"GET",
		}); 
		  request.done(function( result ) {
			  console.log(result);
			  $(".total-basket").append(`
					  <ul class="list-group">
						  <li class="list-group-item d-flex justify-content-between align-items-center">
						    Tổng phụ
						    <span class="badge text-warning" style="font-size:16px">`+formatNumber(result.totalMoneyBasket,'-',',')+` đ</span>
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-center">
						    Giao hàng
						    <span class="badge">Giao hàng miễn phí Đây chỉ là ước tính..</span>
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-center">
						    Tổng
						    <span class="badge text-warning" style="font-size:16px">`+formatNumber(result.totalMoneyBasket,'-',',')+` đ</span>
						  </li>
						  <br/>
						  <br/>
						  <a href="/thanh-toan" class="btn btn-danger col-md-12">Tiến hành thanh toán</a>
						  <div class="mt-3">
							<i class="fas fa-pen text-secondary"> Phiếu ưa đãi</i>
						  </div>
						  <br>
						  <input class="col-md-12 form-control" placeholder="Mã ưa đãi">
						  <br/>
						  <button class="btn">Áp dụng</button>
						</ul> 
						
						
			  `);
			  
			  
			  
		  });
		  request.fail(function( jqXHR, textStatus ) {
			  
		  });
	
		
	}
</script>
</html>