<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
	<link   rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link   rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link th:href="@{/css/admin/style.css}" href="/css/admin/style.css" rel="stylesheet" type="text/css"/>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">	
	<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>
	<!-- <script type="text/javascript" src="static/jquery/slider-js.js"></script> -->
	<title>Admin-Storehelmet</title>	
</head>
<body >
	<div th:fragment="header" class="header  fixed-top">
		 <div class="row">
		 	<div class="col-md-6">
		 		<p class="h2 mt-2 ml-4 text-white">STORE-HELMETS</p>
		 	</div>
		 	<div class="col-md-6">
		 		<div class="float-right icon">
				 	<div class="dropdown float-left mr-4">
					   <i  class="fas fa-envelope  dropdown-toggle"    id="dropdownEmail" data-toggle="dropdown" ></i>
					  	<div class="dropdown-menu" aria-labelledby="dropdownEmail">
					    	<i class="fas fa-user dropdown-item"> User-profile </i>
					    	<i class="fas fa-cog dropdown-item mt-2"> Setting </i>
					    	<i class="fas fa-sign-out-alt dropdown-item mt-2"> Logout </i>
					  	</div>
					</div>
				 	<div class="dropdown float-left mr-4">
					   <i  class="fas fa-table  dropdown-toggle"    id="dropdownTable" data-toggle="dropdown" ></i>
					  	<div class="dropdown-menu" aria-labelledby="dropdownTable">
					    	<i class="fas fa-user dropdown-item"> User-profile </i>
					    	<i class="fas fa-cog dropdown-item mt-2"> Setting </i>
					    	<i class="fas fa-sign-out-alt dropdown-item mt-2"> Logout </i>
					  	</div>
					</div>
				 	<div class="dropdown float-left mr-4">
					   <i  class="fas fa-bell  dropdown-toggle"    id="dropdownNotification" data-toggle="dropdown" ></i>
					  	<div class="dropdown-menu" aria-labelledby="dropdownNotification">
					    	<i class="fas fa-user dropdown-item"> User-profile </i>
					    	<i class="fas fa-cog dropdown-item mt-2"> Setting </i>
					    	<i class="fas fa-sign-out-alt dropdown-item mt-2"> Logout </i>
					  	</div>
					</div>
				 	<div class="dropdown float-left">
					   <i class="fas fa-user  dropdown-toggle"    id="dropdownUser" data-toggle="dropdown" ></i>
					  	<div class="dropdown-menu" aria-labelledby="dropdownUser">
					    	<i class="fas fa-user dropdown-item"> User-profile </i>
					    	<i class="fas fa-cog dropdown-item mt-2"> Setting </i>
					    	<i class="fas fa-sign-out-alt dropdown-item mt-2"> Logout </i>
					  	</div>
					</div>
				 </div>
		 	</div>
		 </div>
	</div>
	<div th:fragment="nav-left" class="nav-left fixed-top">
		<div class="profile">
			<div class="avartar" style="margin-left: 8px; background: white;width: 60px;height: 74px;margin-top: 11px;">
				<img class="img-fluid" alt="avartar" src="https://cdn3.iconfinder.com/data/icons/shipping-and-delivery-2-1/512/54-512.png">
			</div>
			<p class="text-center ml-5 h4  font-weight-bold text-black " style="margin-top: -79px;" id="nameProfile"></p>
			<p style=" float:left; margin-left: 113px; color: blue;" class="h6">Online</p>
			<div class="status " style="
			    width: 20px;
			    float:left;
			    height: 20px;
			    background: #26ff12;
			    border: 50%;
			    border-radius: 50%;
			    margin-left: 14px;
			"></div>
		</div>
		<br/>
		<br/>
		<hr/>
		<div class="container bg-warning item">
			<div class="row  no-gutters">
				<div class="col-md-10"><input class="form-control" style="border-radius: 0px" placeholder="Search..."></div>
				<button class="col-md-2 btn " style="margin-left: -2px; border-radius: 0px"><i class="fas fa-search"></i></button>
			</div>	
		</div>
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300">Dashboard</p>
		</div>
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300">Products</p>
		</div>
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300">History</p>
		</div>
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300" id="inoivceId">Inoivce</p>
			<div id="dropdownInoivce" class="btn dropdownItem" style="background: orange; color:white">
				<p>Đã hoàn thành</p>
				<p id="dangChoDuyet">Đang chờ duyệt</p>
				<p id="daDuyet">Đã duyệt</p>
				<p id="dangVanChuyen">Đang vận chuyện</p>
				<p>Đã hủy</p>
			</div>
		</div>
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300" id="shippingBillId">Shipping-bill</p>
			<div id="dropdownShippingBillId" class="btn dropdownItem" style="background: orange; color:white">
				<p id="hoaDonDangVanChuyen">Hóa đơn đang vận chuyển</p>
				<p id="">Hóa đơn vận chuyển thành công</p>
				<p id="">Hóa đơn đã hủy</p>
			</div>
		</div>
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300" id="shippingBillId">Shipper - manager</p>
			<div id="" class="btn dropdownItem" style="background: orange; color:white">
				
				<p>Shipping - Confirm</p>
				<p>Invoice - Confirm</p>
				<p>Shippbill - View</p>
				<p>Shipper - View</p>
				<p>Invoice - Canceling</p>
				<p>Money</p>
			</div>
		</div>
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300">Money</p>
		</div>
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300">Manager - user</p>
		</div>
	</div>
<script type="text/javascript" th:replace="layout :: js_layout"></script>	
<script type="text/javascript" th:fragment="js_layout_admin">
loadUsername();
function loadUsername(){
	   $.ajax({
		   url: "/api/v1/users/username",
		   method:"GET"
		 })
		 .done(function( data ) {
		   $('#nameProfile').html(data);
		 });
}
	
	$("#inoivceId").hover(function(){
		document.getElementById("dropdownInoivce").style.display = "block";
	});
	$("#shippingBillId").hover(function(){
		document.getElementById("dropdownShippingBillId").style.display = "block";
		$("#dropdownShippingBillId").css("weight","400px");
	});
	$(".container").hover(function(){
		document.getElementById("dropdownInoivce").style.display = "none";
		document.getElementById("dropdownShippingBillId").style.display = "none";
	});
</script>
</body>
</html>