<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
	<link   rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link   rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link th:href="@{/static/css/style.css}" href="/static/css/style.css" rel="stylesheet" type="text/css" />
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">	
	<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>
	<!-- <script type="text/javascript" src="static/jquery/slider-js.js"></script> -->
	<title>Admin-Storehelmet</title>	
	<style type="text/css">
		.header{
			background: orange;
			padding-top: 18px;
			padding-bottom: 18px;
		}
		.header .h2{
			font-weight: bold;
		}
		.header .icon{
			color:white;
			font-size: 20px;
			margin-right: 88px;
    		/* margin-left: 6px; */
    	
		}
		.dropdown-toggle::after { 
            content: none; 
        } 
        .nav-left{
        	margin-top:90px;
        	width: 18%;
        	height:100%;
        	z-index:1;
        	background:#ffc547;
        }
        .item{
        	height: 50px;
        	padding-top: 6px;
        }
        .item .h5{
        	font-weight: 400;
        }
        .dropdownItem{
        	margin-left: 228px;
		    background: orange;
		    color: white;
		    margin-top: -35px;
		    display: none;
			width: 200px;
        }
        .home-page{
        	position: relative;
        	margin-top:6%;
        	width: 82.1%;
        	left:18%;
        	height: 600px;
        	background: url("https://cdn.pixabay.com/photo/2016/03/10/01/28/orange-1247700_960_720.jpg");
        }
        .viewDetails{
        	display:none;
        	position:absolute;
        	left:20%;
        	top:0%	;
        	width: 70%;
        	padding-left:350px;
        	animation: myAnimation 0.8s forwards;
        }
        @keyframes myAnimation{
        	from{
        		top: 0%;
        	}to{
        		top: 25%;
        	}
        }
	</style>
</head>
<body >
	<div th:fragment="header" class="header  fixed-top">
		 <div class="row">
		 	<div class="col-md-6">
		 		<p class="h2 mt-2 ml-4 text-white">STORE-HELMETS</p>
		 	</div>
		 	<div class="col-md-6">
		 		<div class="float-right icon">
				 	<div class="dropdown float-left mr-4">
					   <i  class="fas fa-envelope  dropdown-toggle"    id="dropdownEmail" data-toggle="dropdown" ></i>
					  	<div class="dropdown-menu" aria-labelledby="dropdownEmail">
					    	<i class="fas fa-user dropdown-item"> User-profile </i>
					    	<i class="fas fa-cog dropdown-item mt-2"> Setting </i>
					    	<i class="fas fa-sign-out-alt dropdown-item mt-2"> Logout </i>
					  	</div>
					</div>
				 	<div class="dropdown float-left mr-4">
					   <i  class="fas fa-table  dropdown-toggle"    id="dropdownTable" data-toggle="dropdown" ></i>
					  	<div class="dropdown-menu" aria-labelledby="dropdownTable">
					    	<i class="fas fa-user dropdown-item"> User-profile </i>
					    	<i class="fas fa-cog dropdown-item mt-2"> Setting </i>
					    	<i class="fas fa-sign-out-alt dropdown-item mt-2"> Logout </i>
					  	</div>
					</div>
				 	<div class="dropdown float-left mr-4">
					   <i  class="fas fa-bell  dropdown-toggle"    id="dropdownNotification" data-toggle="dropdown" ></i>
					  	<div class="dropdown-menu" aria-labelledby="dropdownNotification">
					    	<i class="fas fa-user dropdown-item"> User-profile </i>
					    	<i class="fas fa-cog dropdown-item mt-2"> Setting </i>
					    	<i class="fas fa-sign-out-alt dropdown-item mt-2"> Logout </i>
					  	</div>
					</div>
				 	<div class="dropdown float-left">
					   <i class="fas fa-user  dropdown-toggle"    id="dropdownUser" data-toggle="dropdown" ></i>
					  	<div class="dropdown-menu" aria-labelledby="dropdownUser">
					    	<i class="fas fa-user dropdown-item"> User-profile </i>
					    	<i class="fas fa-cog dropdown-item mt-2"> Setting </i>
					    	<i class="fas fa-sign-out-alt dropdown-item mt-2"> Logout </i>
					  	</div>
					</div>
				 </div>
		 	</div>
		 </div>
	</div>
	<div th:fragment="nav-left" class="nav-left fixed-top">
		<div class="profile">
			<div class="avartar" style="margin-left: 8px; background: white;width: 60px;height: 74px;margin-top: 11px;">
				<img class="img-fluid" alt="avartar" src="https://cdn3.iconfinder.com/data/icons/shipping-and-delivery-2-1/512/54-512.png">
			</div>
			<p class="text-center ml-5 h4  font-weight-bold text-black " style="margin-top: -79px;" id="nameProfile"></p>
			<p style=" float:left; margin-left: 113px; color: blue;" class="h6">Online</p>
			<div class="status " style="
			    width: 20px;
			    float:left;
			    height: 20px;
			    background: #26ff12;
			    border: 50%;
			    border-radius: 50%;
			    margin-left: 14px;
			"></div>
		</div>
		<br/>
		<br/>
		<hr/>
		<div class="container bg-warning item">
			<div class="row  no-gutters">
				<div class="col-md-10"><input class="form-control" style="border-radius: 0px" placeholder="Search..."></div>
				<button class="col-md-2 btn " style="margin-left: -2px; border-radius: 0px"><i class="fas fa-search"></i></button>
			</div>	
		</div>
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300">Dashboard</p>
		</div>
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300">Products</p>
		</div>
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300">History</p>
		</div>
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300" id="inoivceId">Inoivce</p>
			<div id="dropdownInoivce" class="btn dropdownItem" style="background: orange; color:white">
				<p>Accomplished</p>
				<p id="dangChoDuyet">Awaiting confirmation</p>
				<p>Confirmed</p>
				<p>Created-Shipping</p>
				<p>Invoice canceled</p>
			</div>
		</div>
		
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300" id="shippingBillId">Manager-Shipping</p>
			<div id="dropdownShippingBillId" class="btn dropdownItem" style="background: orange; color:white">
				
				<p>Shipping - Confirm</p>
				<p>Invoice - Confirm</p>
				<p>Shippbill - View</p>
				<p>Shipper - View</p>
				<p>Invoice - Canceling</p>
				<p>Money</p>
			</div>
		</div>
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300">Money</p>
		</div>
		<div class="container mt-1 bg-warning item">
			<p class="h5 text-white " style="font-weight: 300">Manager - user</p>
		</div>
	</div>

</body>
<script type="text/javascript" th:replace="layout :: js_layout"></script>	
<script type="text/javascript" th:fragment="js_layout_admin">

$( document ).ready(function() {
	loadUsername();
	   function loadUsername(){
		   $.ajax({
			   url: "/api/v1/users/username",
			   method:"GET"
			 })
			 .done(function( data ) {
			   $('#nameProfile').html(data);
			 });
	   }
		
		$("#inoivceId").hover(function(){
			document.getElementById("dropdownInoivce").style.display = "block";
		});
		$("#shippingBillId").hover(function(){
			document.getElementById("dropdownShippingBillId").style.display = "block";
		});
		$(".container").hover(function(){
			document.getElementById("dropdownInoivce").style.display = "none";
			document.getElementById("dropdownShippingBillId").style.display = "none";
		});
		$("#dangChoDuyet").click(function(){
			$(".home-page").html(`
				<div class="awaiting-confirmation">
			<br/>
					<h4 class="text-center text-white">Danh sách hóa đơn đang chờ duyệt</h4>
					
					<div class="search float-right col-md-3">
						<div class="row  no-gutters">
							<input type="date" class="col-md-10 form-control" >
							<button class="btn col-md-2 btn-secondary" style="border-radius:0"><i class="fas fa-search"></i></button>
						</div>
					</div>
					<br/>
					<br/>
					<br/>
					<table class="table  table-striped">
					  <thead>
					    <tr>
					      <th scope="col"><input type="checkbox" id="selecctall"/> Accept All</li></th>
					      <th scope="col">Thông tin khách hàng</th>
					      <th scope="col">Thông tin giỏ hàng</th>
					      <th scope="col">Email</th>
					      <th scope="col">Ngày tạo</th>
					      <th scope="col">Số điện thoại</th>
					      <th scope="col">Duyệt</th>
					    </tr>
					  </thead>
					  <tbody id="idTableInvoice">
				
					  </tbody>
					</table>
					<br/>
					<div id="loadPages float-right ml-5 mt-5" style="padding-left: 490px;">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
							    <li class="page-item"><a class="page-link" onclick="nextPages('previousPageable')" href="#" >Previous</a></li>
							   
							    <li class="page-item"><p class="page-link" onclick="nextPages('nextPageable')">Next</p></li>
							</ul>
						</nav>		
					</div>
					
				</div>		
			`);
		});
		$('#dangChoDuyet').click(function(){
			$.ajax({
				url: "/api/v1/admins/invoices/getbykey/loadAtStart",
				method:"GET",
				contentType: "application/json",
				dataType: 'json',
			 })
			 .done(function( data ) {

				for(var i = 0; i<data.content.length; i++){
					$("#idTableInvoice").append(
						`"<tr>
				 			   <th scope="row">`+(i+1)+`</th>
							   <td><button class="btn btn-success" onclick=viewDetailCustomer("`+data.content[i].idInvoice+`")>Xem chi tiết</button></td>
							   <td><button class="btn btn-danger" onclick= viewDetailBasket("`+data.content[i].idInvoice+`")>Xem chi tiết</button></td>
							   <td >`+data.content[i].email+`</td>
							   <td >`+data.content[i].dateCreat+`</td>
							   <td >`+data.content[i].tel+`</td>
							   <td class="btn ml-2"><i class="fas fa-check"></i></td>
							 </tr>"`
						);
				}
				
			 });
			
		});

	});
function nextPages(key){
	$.ajax({
		url: "/api/v1/admins/invoices/getbykey/"+key,
		method:"GET",
		contentType: "application/json",
		dataType: 'json',
	 })
	 .done(function( data ) {
		 $('#idTableInvoice').html("");
		for(var i = 0; i<data.content.length; i++){
			$("#idTableInvoice").append(
				`"<tr>
		 			   <th scope="row">`+(i+1)+`</th>
					   <td><button class="btn btn-success" onclick=viewDetailCustomer("`+data.content[i].idInvoice+`")>Xem chi tiết</button></td>
					   <td><button class="btn btn-danger" onclick=viewDetailBasket("`+data.content[i].idInvoice+`")>Xem chi tiết</button></td>
					   <td >`+data.content[i].email+`</td>
					   <td >`+data.content[i].dateCreat+`</td>
					   <td >`+data.content[i].tel+`</td>
					   <td class="btn ml-2"><i class="fas fa-check"></i></td>
					 </tr>"`
				);
		}
		
	 });
	
}
 function viewDetailCustomer(id){
	 var request =	 $.ajax({
			url: "/api/v1/admins/invoices/"+id,
			method:"GET",
			contentType: "application/json",
			dataType: 'json',
		 });
		 request.done(function( msg ) {
			$(".viewDetails").css("display", "block");
			$(".home-page").css("opacity","0.2");
			$(".viewDetails").html(`
				<div>
					 <div style="font-size: 50px;margin-left: 400px;margin-top: -20px;" class="icon" onclick="remove()"> <i class="fas fa-minus-circle"></i></div>
					 <label for="nameCustomer" class="">Họ tên khách hàng</label>
			    	 <input class="form-control col-md-6"  id="nameCustomer" value=`+msg.nameCustomer+`>
			    	  <label for="countryCustomer" >Tỉnh / Thành phố</label>
			    	 <input class="form-control col-md-6"  id="countryCustomer" value=`+msg.address1+`>
			    	  <label for="addressCustomer" >Địa chỉ</label>
			    	 <input class="form-control col-md-6"  id="addressCustomer" value=`+msg.address2+`>
			    	 <label for="telCustomer" >Số điện thoại</label>
			    	 <input class="form-control col-md-6"  id="telCustomer" value=`+msg.tel+`>
			    	 <label for="emailCustomer" >Email</label>
			    	 <input class="form-control col-md-6"  id="emailCustomer" value=`+msg.email+`>
				</div>
			`);
			
		 });
		 request.fail(function( jqXHR, textStatus ) {
			 alert( "Request failed: " + textStatus );
		 });
		 
 }
 
 function viewDetailBasket(id){
	 var request =	 $.ajax({
			url: "/api/v1/admins/invoices/"+id,
			method:"GET",
			contentType: "application/json",
			dataType: 'json',
		 });
		 request.done(function( msg ) {
			 var bastket = msg.bastketTotal.baskets;
			 console.log(msg);
			$(".viewDetails").css("display", "block");
			$(".home-page").css("opacity","0.1");
			$(".viewDetails").css("margin-left","-300px");
			$(".viewDetails").css("width","100%");
			$(".viewDetails").html(`
				<div>
					<div style="font-size: 50px;margin-left: 800px" class="icon" onclick="remove()"> <i class="fas fa-minus-circle"></i></div>
					<p class="text-center h3" style="padding-bottom: 80px;">Thông tin giỏ hàng</p>
					
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Tên sản phẩm</th>
					      <th scope="col">Hình ảnh</th>
					      <th scope="col">Giá tiền</th>
					      <th scope="col">Số lượng</th>
					      <th scope="col">Tổng số tiền</th>
					    </tr>
					  </thead>
					  <tbody id="bodyViewDetailsProducts">
					   
					  </tbody>
					</table>
					<div class="float-right mt-5" >
						<p style="padding-left:40px;" class="h4 ">Tổng số tiền</p>
						<br/>
						<p style="padding-left:40px;" class="h4 ">`+formatNumber(msg.bastketTotal.totalMoneyBasket,'-',',')+`đ</p>
					</div>
				</div>
				
			`);
			
			for(i = 0; i<bastket.length;i++){
				$("#bodyViewDetailsProducts").append(
					`
						<tr>
					      <td scope="row">`+i+`</td>
					      <td>`+bastket[i].nameProduct+`</td>
					      <td><img src="`+bastket[i].imageProduct+`" class="img-fluid" style="width:60px;"></td>
					      <td>`+formatNumber(bastket[i].price,'-',',')+` đ</td>
					      <td>`+bastket[i].numOfCart+`</td>
					      <td>`+formatNumber(bastket[i].totalMoney,'-',',')+`đ</td>
					    </tr>
					`		
				);
			}
		 });
		 request.fail(function( jqXHR, textStatus ) {
			 alert( "Request failed: " + textStatus );
		 });
 }
 function remove(){
	 $(".viewDetails").css("display", "none"); 
		$(".home-page").css("opacity","1");
 }
</script>
<script type="text/javascript">

</script>
</html>