<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
	<div th:replace="layout :: header">
	</div>
	<div class="invoice">
		<div class="container" style="padding-top:180px;padding-bottom:70px;">
			<div class="row">
				<div class="col-md-6">
					<p class="btn">Bạn đã có tài khoản? Ấn vào đây để đăng nhập</p>
					<p class="btn " style="margin-top:-22px">Bạn đã có mã ưa đãi? Ấn vào đây để nhập mã</p>
					<hr/>
					<p class="h5">Thông tin thanh toán</p>
					<label for="nameCustomer" class="text-black" style=" font-size: 14px; font-weight: 600;">Họ và tên *</label>
					<input class="form-control" id="nameCustomer"/>
					<br/>
					<label for="countryCustomer" class="text-black" style=" font-size: 14px; font-weight: 600;">Quốc gia *</label>
					<select class="form-control" id="countryCustomer">
				      <option>Việt Nam</option>
				    </select>
				    <br/>
				    <label for="cityCustomer" class="text-black" style=" font-size: 14px; font-weight: 600;">Tỉnh / Thành phố *</label>
					<select class="form-control" id="cityCustomer">
					   <option value ="NinhThuan">Ninh Thuận</option>
					   <option value ="QuangNam">Quảng Nam</option>
				       <option value ="DaNang">Đà Nẵng</option>
				       <option value="SaiGon">Sài Gòn</option>
				    </select>
				    <br/>
				    <label for="addressCustomer" class="text-black" style=" font-size: 14px; font-weight: 600;">Địa chỉ  *</label>
					<input class="form-control" id="addressCustomer"/>
					<br/>
					<label for="phoneCustomer" class="text-black" style=" font-size: 14px; font-weight: 600;">Số điện thoại  *</label>
					<input class="form-control" id="phoneCustomer" type="number"/>
					<br/>
					<label for="emailCustomer" class="text-black" style=" font-size: 14px; font-weight: 600;">Email  *</label>
					<input class="form-control" id="emailCustomer" type="email"/>
					<br/>
					<label for="note" class="text-black" style=" font-size: 14px; font-weight: 600;">Ghi chú đơn hàng (tùy chọn) *</label>
					<textarea class="form-control" rows="4" cols="" id="note"></textarea>
				</div>
				<div class="col-md-6">
				<div class="donHang" style="padding-left: 33px;padding-right: 33px;padding-top: 33px;padding-bottom: 33px;border-radius: 1px solid black;border: 3px solid red;margin-top: 100px;">
						<table class="table">
						 <p class="text-center h4">Tổng đơn hàng</p>
						 <br/>
						  <thead>
						    <tr>
						      <th class="h5">Sản phẩm</th>
						       <th class="h5">Số lượng</th>
						      <th class="h5">Tổng</th>
						    </tr>
						  </thead>
						  <tbody  th:each="basket : ${basketDtos}">
						  	<tr>
						      <td th:utext="${basket.nameProduct}"></td>
						       <td th:utext="${basket.numOfCart}"></td>
						      <td class="productPrice"   th:utext="${basket.price}"></td>
						    </tr>	
						  </tbody>
						  <tfoot>
						  	 <tr>
						      <td ><h6 class="text-secondary">Tổng phụ</h6></td>
						            <td></td>
						      <td class="tongPhu h6 text-warning" th:utext="${basketDtoTotal.totalMoneyBasket}"></td>
						    </tr>
						    <tr>
						      <td class="h6 text-secondary">Giao hàng</td>
						      <td></td>
						      <td class="text-warning">Giao hàng miễn phí</td>
						    </tr>
						    <tr>
						      <td class="h5">Tổng tiền</td>
						         <td></td>
						      <td class="tongTien h5 text-danger" th:utext="${basketDtoTotal.totalMoneyBasket}"></td>
						    </tr>
						    
						  </tfoot>
						</table>
						 <div class="form-group">
						    <label for="exampleFormControlSelect1" class="text-secondary ml-3 h6">Phương thức thanh toán</label>
						    <select class="form-control col-md-11 ml-3" id="exampleFormControlSelect1">
						      <option>Giao hàng tận nơi</option>
						    </select>
						  </div>
						  <br/>
						  <button id="datHang" class="btn btn-danger ml-3 col-md-4">Đặt hàng</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="home-page :: page-connect">	</div>
	<div th:replace="layout :: footer">	</div>
	<div th:replace="layout :: footer-bottom">	</div>
</body>
<script type="text/javascript" th:replace="layout :: js_layout"></script>
<script type="text/javascript">
		changeMoneyProduct();
		function changeMoneyProduct(){
			
			var tongPhu =$(".tongPhu").html();
			var tongTien =$(".tongTien").html();
			$('.tongPhu').html(formatNumber(tongPhu,'-',',')+` đ`);
			$('.tongTien').html(formatNumber(tongTien,'-',',')+` đ`);
		}
		loadInformationUser();
		function loadInformationUser(){
		
			$.ajax({
			      url:"/api/v1/users/auth/me",
			      contentType: "application/json",
			      dataType: 'json',
			      success: function(result){
			    	 if(result != null){
			    		 $('#nameCustomer').val(result.fullName);
			    	 }
			    	 if(result.address1 != null){
			    		if(result.address1 == 'NinhThuan'){
			    			$('#cityCustomer select').val('NinhThuan');
			    		}
			    		if(result.address1 == 'QuangNam'){
			    			$('#cityCustomer select').val('QuangNam');
			    		}
			    		if(result.address1 == 'SaiGon'){
			    			$('#cityCustomer select').val('SaiGon');
			    		}
			    		if(result.email =='mrt.boss@yahoo.com'){
			    			$('#cityCustomer').val('DaNang');
			    		}
			    	 }
			    	 $('#addressCustomer').val(result.address2);
			    	 $('#phoneCustomer').val(result.tel);
			    	 $('#emailCustomer').val(result.email);
			      }
			 });
		}
		$("#datHang").click(function(){
			
			var request =   $.ajax({
				  url: "/api/v1/users/auth/me",
				  contentType: "application/json",
				  methodType:"GET",
				  method:"GET"
			});
			request.done(function( msg ) {
				if(msg != null){
					var nameCustomer = $('#nameCustomer').val();
					var address1  = $('#cityCustomer').val();
					var address2 = $('#addressCustomer').val();
					var tel = $('#phoneCustomer').val();
					var email = $('#emailCustomer').val();
					var note  = $('#note').val();
					var request =   $.ajax({
						  url: "/api/v1/users/invoices",
						  contentType: "application/json",
						  methodType:"POST",
						  method:"POST",
						  data:JSON.stringify({nameCustomer:nameCustomer,address1:address1,address2:address2,tel:tel,note:note,email:email}),
					});
					request.done(function( msg ) {
						alert(msg);	
					});
					request.fail(function( jqXHR, textStatus ) {
						  alert( "Request failed: " + textStatus );
					});	
				}else{
					alert('Bạn cần phải đăng nhập');
				}
			});
			request.fail(function( jqXHR, textStatus ) {
				window.location.href = "/login";
				alert('Bạn cần phải đăng nhập');
			});	
			
			
		});

</script>
</html>